@model Fletnix.Web.Areas.Administration.Models.CelebrityEditor

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>
<h4>Celebrity</h4>
<div class="row">
    <div class="col-md-6">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.FirstName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.FirstName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.LastName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.LastName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ImdbId)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ImdbId)
            </dd>
        </dl>
    </div>
    <div class="col-md-6">
        @Html.DisplayFor(model => model.ImageUri)
    </div>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
