@using Fletnix.Domain
@model IEnumerable<SubscriptionModel>
@{
    ViewBag.Title = "";
}
@helper GetDescriptionThenName(SubscriptionOptionTemplate optionTemplate)
{
    @(string.IsNullOrEmpty(optionTemplate.Description) ? optionTemplate.Name : optionTemplate.Description)
}
@helper FormatValue(SubscriptionOption option)
{
    switch (option.SubscriptionOptionTemplate.OptionTypeId)
    {
        case OptionType.Boolean:
            var @boolCssClass = (option.Value == bool.TrueString) ? "glyphicon-ok" : "glyphicon-remove";
            var @color = (option.Value == bool.TrueString) ? "green" : "gray";
            
            <i class="glyphicon @boolCssClass @color"></i>
            break;
        case OptionType.Numeric:
            @option.Value
            break;
    }
}

<div class="row">
    @foreach(var item in Model) {
        <div class="col-md-4">
            <h2 class="text-center">@item.Name</h2>
            <div class="row">
                @foreach(var option in item.Options) {
                    <div class="col-md-10">@GetDescriptionThenName(option.SubscriptionOptionTemplate)</div>
                    <div class="col-md-2 text-right">@FormatValue(option)</div>
                }
            </div>
            <h3 class="text-center">@item.Price.ToString("C2")</h3>
        </div>
    }
</div>