@using Fletnix.Domain
@model IEnumerable<Fletnix.Domain.SubscriptionModel>
@{
    ViewBag.Title = "";
}
@helper GetDescriptionThenName(SubscriptionOptionTemplate optionTemplate)
{
    if (string.IsNullOrEmpty(optionTemplate.Description))
    {
        @optionTemplate.Name
    }
    else
    {
        @optionTemplate.Description
    }
}

<div class="row">
    @foreach(var item in Model) {
        <div class="col-md-4">
            <h2 class="text-center">@item.Name</h2>
            <dl>
                @foreach(var option in item.Options) {
                    <dt>@GetDescriptionThenName(option.SubscriptionOptionTemplate)</dt>
                    <dd>@option.Value</dd>
                }
            </dl>
            <h3 class="text-center">@item.Price.ToString("C2")</h3>
        </div>
    }
</div>